<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block  sidebar padding-left-none padding-right-none">
      <div class="sidebar-sticky ">
        <input type="text" class="form-control br-none" placeholder="Job Title">
        <ul class="nav flex-column">
          <!-- <li class="nav-item">
            <a routerLink="/dash" routerLinkActive="active" class="nav-link" href="#">
              <span data-feather="home"></span>
              Dash
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/scan" class="nav-link" href="#">
              <span data-feather="file"></span>
              Scanner
            </a>
          </li> -->
        </ul>
      </div>
    </nav>